body
{
    margin: 0px;
    padding: 0px;
}


.parallax 
{
  background-image: url(alexis-antoine-CQEliDTB3Sg-unsplash.jpg);
  height:130vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer{
    position: fixed;
    background-color:black;
    height: 90px;
    width: 100%;
}

ul
{
    float: right;
    margin-top: 18px; 
    margin-right:50px;
}

ul.a:hover{
    
    color: grey;
}

.text{
    
    margin-top: 15px;
    margin-left: 70px;
    color:crimson;
    float:left;
    font-size: 60px;
}
main{
    padding-top: 150px;
    margin-left: 150px;
}
.box{
    padding:20px;
    display:block;
    float:left;
    overflow:hidden; 
     border-radius: 5px;

}
.box img{
   
    width:260px;
    height:200px;
    border-radius: 5px;

}
img:hover{
    transform: scale(2,2);
    transition: 2s ease; 
     border-radius: 5px;

}
