body{
    margin: 0px;
    padding: 0px;
}


.parallax {
 
  background-image: url("pic4.jpg");
  height:130vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
    height:auto;
    width:80%;
    background: rgba(0,0,0,.6);
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 25px 10px;
}
h1{
    text-align: center;
    margin-top: 30px;
    font-family: fantasy;
    color:cornsilk;
}
h2{
   color: burlywood;
    text-align: center;
    font-family: cursive;
}
p1{
    color:darkgrey;
}
p{
    padding-left: 10px
    
}
h3{
    padding-left: 10px;
    margin-top: 0px;
}
}
.container2{
    height:auto;
    width:25%;
    background: rgba(0,0,0,.6);
    position:absolute;
}

table{
    color: aqua;
    text-align: center;
}
.footer{
    background: rgba(0,0,0,.5);
    width:100%;
    height:auto;
    position:fixed;
    bottom:0%; 
    
}
ul li a{
    
    text-decoration:none;
    color:aqua;
    padding: 3px 10px;
    border:1px solid white;
    transition: 0.3s ease;
}

ul li a:hover{
    background-color:black;
    color:darkgray;
}
ul{
    float: left;
   
    
}

ul li{
    display: inline-block;
}
